<!DOCTYPE html>
<html ng-app="loginApp">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/controller/register.js" ></script>
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(assets/image/register.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form ng-controller="loginController" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" >
						<span class="label-input100">Username</span>
						<input ng-model="user.name" class="input100" type="text" name="username" placeholder="Enter username">
					</div>

					<div class="wrap-input100 validate-input m-b-18">
						<span class="label-input100">Password</span>
						<input ng-model="user.password" class="input100" type="password" name="pass" placeholder="Enter password">
					</div>
					<div class="container-login100-form-btn">
						<button ng-click="login(user)" class="login100-form-btn">
							Login
						</button>	
					</div>
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>